@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h2 class="pt-5">Movie app</h2>
    <p>Aplikacija za prikaz filmova, žanrova i redatelja</p>
    <img src="/falcon_movie.svg" alt="movie falcon" style="height: 70vh;"/>
</div>
